<!--
Copyright 2021 ODK Central Developers
See the NOTICE file at the top-level directory of this distribution and at
https://github.com/getodk/central-frontend/blob/master/NOTICE.

This file is part of ODK Central. It is subject to the license terms in
the LICENSE file found in the top-level directory of this distribution and at
https://www.apache.org/licenses/LICENSE-2.0. No part of ODK Central,
including this file, may be copied, modified, propagated, or distributed
except according to the terms contained in the LICENSE file.
-->
<template>
  <modal id="submission-update-review-state" :state="state"
    :hideable="!awaitingResponse" backdrop @hide="$emit('hide')">
    <template #title>{{ $t('title') }}</template>
    <template #body>
      <form @submit.prevent="submit">
        <div class="row">
          <div class="col-xs-4">
            <div v-for="reviewState of selectableStates" :key="reviewState"
              class="radio">
              <label>
                <input v-model="selectedState" type="radio"
                  :value="reviewState">
                <span :class="reviewStateIcon(reviewState)"></span>
                <span>{{ $t(`reviewState.${reviewState}`) }}</span>
              </label>
            </div>
          </div>
          <div class="col-xs-8">
            <markdown-textarea v-model="notes" :default-text="$t('field.notes')"
              :show-footer="awaitingResponse"/>
          </div>
        </div>
        <div class="modal-actions">
          <button type="submit" class="btn btn-primary"
            :disabled="awaitingResponse">
            {{ $t('action.update') }} <spinner :state="awaitingResponse"/>
          </button>
          <button type="button" class="btn btn-link"
            :disabled="awaitingResponse" @click="$emit('hide')">
            {{ $t('action.neverMind') }}
          </button>
        </div>
      </form>
    </template>
  </modal>
</template>

<script>
import Modal from '../modal.vue';
import Spinner from '../spinner.vue';
import MarkdownTextarea from '../markdown/textarea.vue';

import request from '../../mixins/request';
import reviewState from '../../mixins/review-state';
import { apiPaths } from '../../util/request';
import { noop } from '../../util/util';

const selectableStates = ['approved', 'hasIssues', 'rejected'];

export default {
  name: 'SubmissionUpdateReviewState',
  components: { Modal, Spinner, MarkdownTextarea },
  mixins: [request(), reviewState()],
  props: {
    state: Boolean,
    projectId: {
      type: String,
      required: true
    },
    xmlFormId: {
      type: String,
      required: true
    },
    submission: Object
  },
  data() {
    return {
      awaitingResponse: false,
      selectedState: 'approved',
      notes: ''
    };
  },
  computed: {
    selectableStates() {
      return selectableStates;
    }
  },
  watch: {
    state(state) {
      if (state) {
        const currentState = this.submission.__system.reviewState;
        this.selectedState = selectableStates.includes(currentState)
          ? currentState
          : 'approved';
        this.$nextTick(() => {
          this.$el.querySelector('input:checked').focus();
        });
      } else {
        this.notes = '';
      }
    }
  },
  methods: {
    submit() {
      const headers = {};
      if (this.notes !== '')
        headers['X-Action-Notes'] = encodeURIComponent(this.notes);
      this.request({
        method: 'PATCH',
        url: apiPaths.submission(
          this.projectId,
          this.xmlFormId,
          this.submission.__id
        ),
        data: { reviewState: this.selectedState },
        headers
      })
        .then(() => {
          // It is the responsibility of the parent component to update the
          // submission.
          this.$emit('success', this.submission, this.selectedState);
        })
        .catch(noop);
    }
  }
};
</script>

<style lang="scss">
@import '../../assets/scss/variables';

#submission-update-review-state {
  .form-group { margin-bottom: 0; }

  $margin-left-icon: 2px;
  .icon-comments {
    margin-left: $margin-left-icon;
    margin-right: $margin-right-icon;
  }
  .icon-check-circle, .icon-times-circle {
    margin-left: #{$margin-left-icon + 1px};
    margin-right: #{$margin-right-icon + 1px};
  }

  .icon-check-circle { color: $color-success; }
  .icon-comments { color: $color-warning; }
  .icon-times-circle { color: $color-danger; }
}
</style>

<i18n lang="json5">
{
  "en": {
    // This is the title at the top of a pop-up.
    "title": "Update Review State",
    "field": {
      "notes": "Notes and comments (optional)"
    }
  }
}
</i18n>

<!-- Autogenerated by destructure.js -->
<i18n>
{
  "cs": {
    "title": "Aktualizovat stav kontroly",
    "field": {
      "notes": "Poznámky a komentáře (volitelné)"
    }
  },
  "de": {
    "title": "Überprüfungsstatus aktualisieren",
    "field": {
      "notes": "Notizen und Kommentare (optional)"
    }
  },
  "es": {
    "title": "Actualizar estado de revisión",
    "field": {
      "notes": "Notas y comentarios (opcional)"
    }
  },
  "fr": {
    "title": "Changer l'état de la soumission",
    "field": {
      "notes": "Notes et commentaires (facultatif)"
    }
  },
  "id": {
    "title": "Perbarui status ulasan",
    "field": {
      "notes": "Catatan dan komentar (opsional)"
    }
  },
  "it": {
    "title": "Aggiorna lo Stato Revisione",
    "field": {
      "notes": "Note e commenti (opzionale)"
    }
  },
  "ja": {
    "title": "レビュー・ステータスの更新",
    "field": {
      "notes": "メモとコメント（任意）"
    }
  }
}
</i18n>
