@font-face {
  font-family: 'icomoon';
  src:
    url('/fonts/icomoon.ttf?o8uj90') format('truetype'),
    url('/fonts/icomoon.woff?o8uj90') format('woff'),
    url('/fonts/icomoon.svg?o8uj90#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\f0b0";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-archive:before {
  content: "\f187";
}
.icon-history:before {
  content: "\f1da";
}
.icon-check:before {
  content: "\f00c";
}
.icon-download:before {
  content: "\f019";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-lock:before {
  content: "\f023";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-upload:before {
  content: "\f093";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-code:before {
  content: "\f121";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-comments:before {
  content: "\f086";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-comment:before {
  content: "\f075";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
