<!--
Copyright 2021 ODK Central Developers
See the NOTICE file at the top-level directory of this distribution and at
https://github.com/getodk/central-frontend/blob/master/NOTICE.

This file is part of ODK Central. It is subject to the license terms in
the LICENSE file found in the top-level directory of this distribution and at
https://www.apache.org/licenses/LICENSE-2.0. No part of ODK Central,
including this file, may be copied, modified, propagated, or distributed
except according to the terms contained in the LICENSE file.
-->
<template>
  <div>
    <div class="page-body-heading">
      <p>{{ $t('analytics.alwaysImprove') }}</p>
      <i18n tag="p" path="analytics.needFeedback.full">
        <template #your>
          <span>{{ $t('analytics.needFeedback.your') }}</span>
        </template>
      </i18n>
      <p>{{ $t('heading[0]') }}</p>
    </div>
    <loading :state="initiallyLoading"/>
    <template v-if="dataExists">
      <analytics-form @preview="showModal('preview')"/>
      <page-section v-if="audits.length !== 0">
        <template #heading>
          <span>{{ $t('auditsTitle') }}</span>
        </template>
        <template #body>
          <audit-table :audits="audits"/>
        </template>
      </page-section>
    </template>
    <analytics-preview v-bind="preview" @hide="hideModal('preview')"/>
  </div>
</template>

<script>
import AnalyticsForm from './form.vue';
import AnalyticsPreview from './preview.vue';
import AuditTable from '../audit/table.vue';
import Loading from '../loading.vue';
import PageSection from '../page/section.vue';

import modal from '../../mixins/modal';
import { apiPaths } from '../../util/request';
import { noop } from '../../util/util';
import { requestData } from '../../store/modules/request';

const requestKeys = ['analyticsConfig', 'audits'];

export default {
  name: 'AnalyticsList',
  components: {
    AnalyticsForm,
    AnalyticsPreview,
    AuditTable,
    Loading,
    PageSection
  },
  mixins: [modal()],
  data() {
    return {
      preview: {
        state: false
      }
    };
  },
  computed: {
    ...requestData(requestKeys),
    initiallyLoading() {
      return this.$store.getters.initiallyLoading(requestKeys);
    },
    dataExists() {
      return this.$store.getters.dataExists(requestKeys);
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.$store.dispatch('get', [
        {
          key: 'analyticsConfig',
          url: '/v1/config/analytics',
          fulfillProblem: ({ code }) => code === 404.1
        },
        {
          key: 'audits',
          url: apiPaths.audits({ action: 'analytics', limit: 10 })
        }
      ]).catch(noop);
    }
  }
};
</script>

<i18n lang="json5">
{
  "en": {
    "heading": [
      "Below, you can choose whether this Central server will share anonymous usage information with the Central team. This setting affects the entire server."
    ],
    // This is a title shown above a section of the page.
    "auditsTitle": "Latest Usage Reports"
  }
}
</i18n>

<!-- Autogenerated by destructure.js -->
<i18n>
{
  "cs": {
    "heading": [
      "Níže můžete zvolit, zda bude tento server Central sdílet anonymní informace o používání s týmem Central. Toto nastavení ovlivňuje celý server."
    ],
    "auditsTitle": "Nejnovější zprávy o použití"
  },
  "es": {
    "heading": [
      "A continuación, puede elegir si este servidor Central compartirá información de uso anónima con el equipo Central. Esta configuración afecta a todo el servidor."
    ]
  },
  "fr": {
    "heading": [
      "Ci-dessous, vous pouvez choisir si ce serveur Central partagera les informations d'utilisation anonymisées avec l'équipe de Central. Ce paramètre affecte l'ensemble du serveur."
    ],
    "auditsTitle": "Dernier rapport d'utilisation"
  },
  "it": {
    "heading": [
      "Di seguito, puoi scegliere se questo server Central condividerà le informazioni di utilizzo anonime con il team Central. Questa impostazione interessa l'intero server."
    ],
    "auditsTitle": "Ultimo rapporto di utilizzo"
  }
}
</i18n>
